body{
    position: relative;
    margin:0;
    padding:0;
    list-style: none;
    background-color: #000000;
}
.bg-img{
    display: block;
    width: 100%;
}
.logo{
    position: absolute;
    top:20px;
    left:50%;
    transform: translateX(-50%);
    width: 92%;
}
a{
    display: block;
    position: absolute;
    top:78%;
    left:50%;
    width: 27%;
    transform: translateX(-50%);
    text-decoration: none;
}  
a img{
    display: block;
    width: 100%;
}